gradio
requests
langgraph
langchain
langchain-huggingface
langchain-community
langchain-experimental
langchain-litellm
litellm==1.67.0
unstructured[pdf]
duckduckgo-search
playwright
openai-whisper
wikipedia
arxiv
yt_dlp
pyld
docx2txt
openpyxl
pymupdf
pdfplumber
biopython
qwen-vl-utils[decord]==0.0.8
python-pptx
ratelimit
tenacity
ipython